{% extends "base.html.jinja2" %}
{% block content %}
<div x-data="data()" x-init="fetch_data()">
    <section class="section">
        <div class="notification is-warning" x-show="!is_data_loaded && !fetch_error">
            Bitte warten, die Daten werden geladen...
        </div>
        <template x-if="fetch_error">
            <div class="notification is-danger" x-show="fetch_error">
                <p><b>Error while fetching data (Error <span x-text="fetch_error.status"></span>)</b>
                <p class="is-size-7">Details: <span x-text="fetch_error_detail"></span>.</p>
            </div>
        </template>
        <template x-if="is_data_loaded && !fetch_error">
            <div>
                <div class="tabs is-centered">
                    <ul>
                        <template x-for="date in timetable.dates">
                            <li :class="[date == selected_date ? 'is-active' : '']"><a x-text="render_date(date)"></a>
                            </li>
                        </template>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <!--
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                    </div>
                    -->
                            <div class="media-content">
                                <p class="title is-4">Thater im Kino – <em>All Nights in my head</em></p>
                                <p class="subtitle is-6">18:00, Theaterstall</p>
                            </div>
                            <div class="tags are-medium">
                                <span class="tag is-link">Theater</span>
                                <span class="tag is-link">BrRh</span>
                            </div>
                        </div>

                        <div class="content">
                            Ein Gedanke. Licht an. Noch ein Gedanke. Überflutet die Bühne. Noch ein Gedanke. Kein
                            Schlaf.
                            Hunderte Gedanken prasseln auf dich hernieder wie der Regen. Du liegst im Bett, ertrinkst in
                            Erinnerungen. Wenn du deinen Kopf in den Schoß der Schlaflosigkeit legst, streichelt sie
                            deine
                            Haare, flüstert in dein Ohr. "Du musst etwas tun", sagt sie. Nur was, das verrät sie dir
                            nicht.
                            Ein
                            Stück, wie eine schlaflose Nacht.
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </section>
</div>
{% endblock %}
{% block script_footer %}
<script>
    function data() {
        return {
            is_data_loaded: false,
            fetch_error: null,
            fetch_error_detail: "",
            timetable: null,
            selected_date: null,

            fetch_data() {
                fetch("api/timetable")
                    .then(res => {
                        if (!res.ok) {
                            this.fetch_error = res;
                        }
                        return res.json();
                    })
                    .then(data => {
                        if (this.fetch_error === null) {
                            this.is_data_loaded = true;
                            this.timetable = data;
                            this.selected_date = data.dates[0];
                        } else if ("detail" in data) {
                            this.fetch_error_detail = data.detail;
                        }
                    });
            },
            render_date(date_str) {
                const day_names = ["So", "Mo", "Di", "Mi", "Do", "Fr", "Sa"];
                const date = new Date(date_str);
                const day_name = day_names[date.getDay()];
                const day_number = date.getDate();
                const month = date.getMonth() + 1;
                return `${day_name}, ${day_number}.${month}`;
            }
        }
    }
</script>
{% endblock %}